<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body th:fragment="header">

<!-- page content area -->

    <div class="pagewrap">
        <div class="head-wrapper">
            <!-- header section -->
            <header class="header theme-bg-white">
                <div class="container">
                    <nav class="navbar navbar-expand-lg py-3 py-lg-0 px-0">
                        <a class="navbar-brand" th:href="@{/}">
                            <img th:src="@{/images/s.png}" alt="Brand Logo"
                                 title="Brand Logo" class="img-fluid"></a>
                        <button class="navbar-toggler px-1 btn rounded-0" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto page-menu" id="nav">
                                <li class="nav-item"><a class="nav-link pe-5 ps-0 ps-lg-5" href="#deals">Deals</a></li>
                                <li class="nav-item"><a class="nav-link pe-5" href="#offers">Offers</a></li>
                                <li class="nav-item"><a class="nav-link pe-5" href="#holidays">Holidays</a></li>
                                <li class="nav-item"><a class="nav-link pe-5" href="#review">Review</a></li>
                            </ul>
                            <ul class="navbar-nav page-menu mb-3 mb-lg-0">
                                <!-- language list -->
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link mein-link dropdown-toggle" id="navbarDropdown1"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-globe me-2"></i>Eng</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                        <li><a class="dropdown-item" href="#">Russian</a></li>
                                        <li><a class="dropdown-item" href="#">French</a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Currency list -->
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link mein-link dropdown-toggle" id="navbarDropdown2"
                                       data-bs-toggle="dropdown" aria-expanded="false">INR</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                        <li><a class="dropdown-item" href="#">USD</a></li>
                                        <li><a class="dropdown-item" href="#">EUR</a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- user account  -->
                                <li class="nav-item">
                                    <a href="#" class="nav-link mein-link d-inline-block position-relative">
                                        <i class="bi bi-bell"></i>
                                        <span
                                                class="position-absolute translate-middle p-1 bg-success border border-light rounded-circle">
                                            <span class="visually-hidden">New alerts</span>
                                        </span>
                                    </a>
                                </li>
                                <!-- user account  -->
                                <li class="nav-item dropdown my-auto">
                                    <a href="#" class="nav-link dropdown-toggle p-0 user" id="navbarDropdown3"
                                       data-bs-toggle="dropdown" aria-expanded="false"><span
                                            class="d-inline-block p-2 theme-bg-primary rounded-circle lh-1"><i
                                            class="bi bi-person"></i></span></a>
                                    <ul class="dropdown-menu dropdown-menu-end sub-menu"
                                        aria-labelledby="navbarDropdown3">
                                        <li>
                                            <a class="dropdown-item" th:href="@{/auth/login}">Sign in</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" th:href="@{/auth/register}">Register</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
        </div>
    </div>

</body>
</html>